body {
    background: #333;
}

body .content {
    padding: 6rem 0;
    font-family: 'Fira Mono', monospace;
    line-height: 1.5em;
    color: white;
}

h1, h2 {
    font-size: 12pt;
    line-height: 2em;
    color: #999;
}

ul, li, p {
    padding: 0;
    margin: 0;
    line-height: 1.8em;
}

p {
    margin-top: 1em;
}

ul { padding-left: 1.5rem; }
ul li { padding-left: .5rem; }

hr {
    margin: 3rem 0;
    border-top: 1px solid #ccc;
}

a, a:visited, a:hover {
    color: #f44271;
}